<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catagory</title>

    <th:block th:insert="~{fragment/link}"> </th:block>


</head>
<body>
<div class="main" style="min-height: 650px">
<div id="replace" th:replace="~{fragment/ajax-fragment :: header}"></div>
<h3 th:unless="${#lists.isEmpty(categories)==false}" th:text="#{null-text}"></h3>

<div class="container" style="margin-top: 5%">

    <a th:href="@{/category/add}" class="btn btn-green" th:text="#{add-text}">ADD</a>

    <table class="table" th:if="${#lists.isEmpty(categories)==false}">
        <thead class=" pink text-white">
        <tr>
            <th scope="col" th:text="#{id-text}">ID</th>
            <th scope="col" th:text="#{title-text}">Title</th>
            <th scope="col" th:text="#{action}">Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="category ,articleSta : ${categories}" th:object="${category}">
            <td th:text="*{idCatagory}"></td>
            <td th:text="*{nameCatagory}"></td>
                            <td>
                                <a th:href="@{/category/update(categoryID=*{idCatagory})}" class="btn btn-blue" th:text="#{update-text}">update</a>
                                <a  id="delete" th:href="@{/category/delete(id=*{idCatagory})}" class="btn btn-red" th:text="#{delete-text}">delete</a>
                            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
<div id="div-footer" style="bottom: 0 ;width: 100%" th:insert="~{fragment/ajax-fragment :: footer1}"></div>
</html>