<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout_home.html}">

<body>

<div class="main" style="min-height: 650px" layout:fragment="content">

<div class="container  " style="margin-top: 100px">

    <h1 class="text-center" th:text="#{add-article-title}">Add Data</h1>

    <form action="/add" method="post" enctype="multipart/form-data" th:object="${article}">

        <label style="display: none" for="id" th:text="#{id-text}+':'">ID :</label>
        <input  style="display: none"  class="form-control" type="text" id="id" th:value="*{id}" readonly><br>


        <label for="title" th:text="#{title-text}+':'">Title :</label> <span style="color: red;"
                                                                         th:if="${#fields.hasErrors('title')}"
                                                                         th:text="#{title-error}">Invaled Title</span>
        <input class="form-control" type="text" id="title" th:field="*{title}"><br>
        <label for="author" th:text="#{author-text}+':'">Author : </label> <span style="color: red;" th:text="#{author-error}"
                                                                        th:if="${#fields.hasErrors('aurthor')}">Invaled Author</span>
        <input class="form-control" id="author" th:field="*{aurthor}" type="text"><br>

        <label for="cate" th:text="#{category-text}+':'">Category : </label><span style="color: red;" th:if="${#fields.hasErrors()}"
                                                  th:text="#{category-error}"></span>
        <select id="cate" class="form-control" th:field="${article.catagory.idCatagory}">
            <option th:if="${#lists.isEmpty(categories)==true}" value='0' disabled th:text="#{category-null}">
            <option value='0' disabled th:text="#{category-selected}">
            <option th:each="cate : ${categories}" th:value="${cate.idCatagory}"
                    th:text="${cate.nameCatagory}"></option>
        </select>
        <br>
        <label for="des" th:text="#{description}+':'">Description :</label>
        <input class="form-control" id="des" th:field="*{description}" type="text"><br>
        <input class="custom-file" id="file-id" name="file" type="file"><br>

        <img id="image">
        <br>
        <div style="margin-bottom:50px;">
            <input type="submit" th:value="#{add-text}" class="btn btn-green">
            <a th:href="@{/}" class="btn btn-secondary" th:text="#{back-text}">back</a>
        </div>
    </form>
</div>

<!--CDN-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file-id").change(function () {
            console.log("Check");
            readURL(this)
        })
    })

</script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"
        type="text/javascript"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/js/mdb.min.js"></script>

</div>
</body>


</html>