<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/layout_home.html}">

<body>

<div class="main" style="min-height: 650px" layout:fragment="content">

<h1 style="margin-top: 100px" class="text-center" th:text="#{update-article-title}">Update Data</h1>

<div class="container">

    <form action="/update" method="post" th:object="${article}" enctype="multipart/form-data">

        <label for="id" th:text="#{id-text}">ID :</label>
        <input readonly class="form-control" type="text" id="id" th:field="*{id}"> <br>
        <label for="title" th:text="#{title-text}">Title :</label> <span style="color:red" th:text="#{title-error}"
                                                                         th:if="${#fields.hasErrors('title')}">wqdq</span>
        <input class="form-control" type="text" id="title" th:field="*{title}"><br>
        <label for="author" th:text="#{article}">Author : </label> <span style="color:red" th:text="#{author-error}"
                                                                         th:if="${#fields.hasErrors('aurthor')}">qwdqw</span>
        <input class="form-control" type="text" id="author" th:field="*{aurthor}"><br>
        <label for="des" th:text="#{description}">Description :</label>
        <input class="form-control" type="text" id="des" th:field="*{description}"><br>

        <label for="cate">Category</label>
        <select id="cate" class="form-control" name="catagory.idCatagory" >

            <option th:each="cate : ${categories}" th:value="${cate.idCatagory}"
                    th:text="${cate.nameCatagory}" th:selected="${cate.nameCatagory}==${article.catagory.nameCatagory}"></option>
        </select>

        <label th:text="#{image-text}">Image</label>
        <img id="image" style="width:180px; height: 130px;margin: 30px" th:src="'/thumnail/'+*{thumnail}">

        <input class="form-control" type="file" id="file-id" name="file"><br>

        <input type="submit" th:value="#{update-text}" class="btn btn-blue">
        <a th:href="@{/}" class="btn btn-secondary" th:text="#{back-text}">back</a>

    </form>

</div>

<!--CDN-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(200);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file-id").change(function () {
            console.log("Check");

            readURL(this)
        })
    })

</script>


<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.0/js/mdb.min.js"></script>
</div>
</body>



</html>